*{margin: 0;padding: 0;text-decoration: none;}

header{
  background-image: url('./img/title.png');
  width: 100%;
  height: 200px;
}

ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.m1{
  padding-bottom: 20px;
  padding-right: 180px;
  padding-left: 10px;
}

.m2{
    top: 3%;
    left: 37%;
    padding-left: 50px;
}

.m2 img:hover{
  transform: scale(1.08);

}
.m2 img{
  transition: all 0.1s linear;
}

a:hover{color: #6559D1;}
a{color: inherit;}

nav{
  background-image: url('./img/bg0_3.png');
  width: 100%;
  height:3240px;
}

.sub0{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: auto;
  position: relative;
}

.text1{
  position: absolute;
  box-sizing: content-box;
  width: 900px;
  top: 17%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  color: #202020;

}

.text2{
  position: absolute;
  box-sizing: content-box;
  width: 900px;
  top: 24.5%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 16px;
  text-align: left;
  font-family: 'Gowun Batang', serif;
  line-height: 35px;

}

.text3{
  position: absolute;
  box-sizing: content-box;
  width: 900px;
  top: 38%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  color: #202020;
}

.text4{
  position: absolute;
  box-sizing: content-box;
  width: 900px;
  top: 48.6%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 16px;
  text-align: left;
  font-family: 'Gowun Batang', serif;
  line-height: 35px;
}

.text5{
  position: absolute;
  box-sizing: content-box;
  width: 900px;
  top: 64%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 35px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  color: #202020;
}

.text6{
  position: absolute;
  box-sizing: content-box;
  width: 900px;
  top: 75.8%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 16px;
  text-align: left;
  font-family: 'Gowun Batang', serif;
  line-height: 35px;
}

.text7{
  position: absolute;
  box-sizing: content-box;
  width: 900px;
  top: 94%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #202020;
}


footer{
  background-image: url('./img/last.png');
  width: 100%;
  height: 100px;
}

.home{
  font-size: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  color: white;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
}
